
  <!--<div class="ui secondary  menu"> -->
    <!--<div class="right menu">-->
      <nav class="navBar">
        <nav class="wrapper">
          <div class="logo">H<span>3</span>WebTech</div>
          <ul>
            <li><a class="active item" routerLink="/user/detail">USER</a></li>
            <li><a class="active item" [routerLink]="['/home']">HOME</a></li>
            <li><a class="item" [routerLink]="['/about']">ABOUT</a></li>
            <li><a class="item" [routerLink]="['/contact']">CONTACT ME</a></li>
          </ul>
          <input type="checkbox" id="menu-toggle">
          <label class="label-toggle"></label>
        </nav>
      </nav>
    <!--</div>-->
 <!-- <div>-->
  
  